<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" href="https://pngimg.com/d/vinyl_PNG80.png" type="image/x-icon">
  <title>Albums</title>
</head>
<body>
  <h1>Albums for 2023?</h1>
  <ul>
    <% artists.forEach(function(a){ %>
      <li>
        <%= a.name %>
        - 
        <%= a.album2023 ? 'Yes! Check it out!' : 'Darn, maybe next year!' %>
      </li>
    <% }); %>
  </ul>
</body>
</html>